* { 
  box-sizing: border-box; 
}

body { 
  background-color: #A8E6CF; /* Mint Green background */
  color: #000000; /* Charcoal Gray text */
  margin: 0; 
}

.container { 
  margin: 1rem; 
  text-align: center; 
}

.nav { 
  background: linear-gradient(90deg, #00A8E1, #00e1ff); /* Gradient from Sky Blue to Soft Coral */
  color: rgb(8, 8, 8); 
  display: flex; 
  justify-content: space-between; 
  align-items: stretch; 
  gap: 2rem; 
  padding: 0 1rem; 
}

.site-title { 
  font-size: 2rem; 
  color: #FF6F61; /* Soft Coral for site title */
}

.nav ul { 
  padding: 0; 
  margin: 0; 
  list-style: none; 
  display: flex; 
  gap: 1rem; 
}

.nav a { 
  color: inherit; 
  text-decoration: none; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  padding: .25rem; 
}

.nav li.active { 
  background-color: #F9D56A; /* Lemon Yellow for active link */
}

.nav li:hover { 
  background-color: #ffffff; /* Lavender for hover state */
}